.featured-lists {

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
  }

  &__list-container {
    flex: 1 1 100%;
  }

  &__list-header {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0 0.5rem;

    a,
    button {
      display: none;
    }

    .feed-link {
      margin-left: auto;
    }
  }

  &__list-body {
    display: flex;
    /* Lay items out in a row */
    flex-direction: row;
    flex-wrap: nowrap;
    /* Don't wrap to next line */
    overflow-x: auto;
    /* Enable left/right scroll */
    overflow-y: hidden;
    /* Hide vertical scrolling */
    -webkit-overflow-scrolling: touch;
    /* Smooth scrolling on iOS */
    scroll-snap-type: x mandatory;

    tr {
      width: 180px;
      flex: 0 0 auto;
      scroll-snap-align: start;
    }

    .topic-list-header,
    thead {
      display: none;
    }
  }
}

// Outlets
.featured-lists__wrapper {
  &.above-main-container {
    margin-bottom: 1.5rem;
  }
}