.featured-lists {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
  }

  &__list-container {
    flex: 1 1 100%;
    width: var(--d-max-width);

    @include breakpoint(mobile-large) {
      width: 100%
    }
  }

  &__list-header {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0 0.5rem;

    a,
    button {
      display: none;
    }

    .feed-link {
      margin-left: auto;
    }
  }

  &__list-body {
    .topic-list-body {
      display: flex !important;
      /* Lay items out in a row */
      flex-direction: row !important;
      flex-wrap: nowrap;
      /* Don't wrap to next line */
      overflow-x: auto;
      /* Enable left/right scroll */
      overflow-y: hidden;
      /* Hide vertical scrolling */
      -webkit-overflow-scrolling: touch;
      /* Smooth scrolling on iOS */
      scroll-snap-type: x mandatory;

      tr {
        width: 300px;

        @include breakpoint(mobile-large) {
          width: 180px !important;
        }

        flex: 0 0 auto;
        scroll-snap-align: start;
      }

      .topic-card {
        border: unset;
        border-radius: unset;
        box-shadow: unset;
        border-bottom: unset;
      }

      .main-link {
        display: flex;
        grid-template-areas: unset;

        .topic-card__op,
        .topic-card__excerpt,
        .topic-card__metadata,
        .link-bottom-line {
          display: none !important;
        }
      }

      .topic-card.selected,
      .topic-card.hover {
        border: unset;
      }

      .main-thumbnail {
        height: 400px !important;
        border-top-left-radius: unset !important;
        border-top-right-radius: unset !important;

        @include breakpoint(mobile-large) {
          height: 250px !important;

        }
      }

      .title {
        font-size: small;
      }

    }

    .topic-list-header,
    thead {
      display: none;
    }
  }
}

// Outlets
.featured-lists__wrapper {
  &.above-main-container {
    margin-bottom: 1.5rem;
  }
}